In [1]:
x = 10
print(x)

10

In [3]:
age = 31
height = 5.9
name = "Nasiba"
is_active = True
print(age, height, name, is_active)

31 5.9 Nasiba True

In [4]:
a = 10
b = 5
sum = a + b
print(sum)

15

In [5]:
first_name = "Nasiba"
last_name = "Muhammad Ladan"
full_name = first_name + " " + last_name
print(full_name)

Nasiba Muhammad Ladan

In [6]:
x = "Hello"
print(type(x))

<class 'str'>

In [7]:
a = 10
b = 5
a, b = b, a
print(a, b)

5 10

In [8]:
x = 15
y = 4
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Modulus:", x % y)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Modulus: 3

In [9]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [10]:
counter = 10
counter += 5
counter -= 3
print(counter)

12

In [11]:
x = 100
x = 50
print(x)

50

In [12]:
name = input("Enter your name: ")
print(f"Hello, {name}!")

Enter your name: Nasiba
Hello, Nasiba!

In [13]:
num_str = "42"
num_int = int(num_str)
print(num_int)

42

In [14]:
num = 100
num_str = str(num)
print(num_str)

100

In [15]:
fruits = ["apple", "banana", "cherry"]
favorite_fruit = fruits[0]
print(favorite_fruit)

apple

In [16]:
message = "Hello, Python!"
length = len(message)
print(length)

14

In [17]:
a = 3.14
b = 2.71
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)

Addition: 5.85
Subtraction: 0.43000000000000016
Multiplication: 8.5094

In [18]:
first_name = "Nasiba"
last_name = "Muhammad Ladan"
print("Hello, " + first_name + " " + last_name + "!")

Hello, Nasiba Muhammad Ladan!

In [19]:
age = 31
name = "Nasiba"
print(f"My name is {name} and I am {age} years old.")

My name is Nasiba and I am 31 years old.

In [20]:
PI = 3.14159
print(PI)

3.14159

In [21]:
person = {"name": "Nasiba", "age": 31}
age_value = person["age"]
print(age_value)

31

In [22]:
x = 10  # Global variable

def my_function():
  x = 5  # Local variable
  print("Local x:", x)
  print("Global x:", globals()['x'])

my_function()

Local x: 5
Global x: 10

In [31]:
x = 5
y = 10
x, y = y, x
print(x, y)

10 5

In [30]:
is_sunny = True
is_raining = False

if is_sunny and not is_raining:
  print("It's a sunny day!")
else:
  print("It's not a sunny day.")

It's a sunny day!
It's a sunny day!

In [25]:
x = "100"
y = "50"
z = "30"
sum = int(x) + int(y) + int(z)
print(sum)

180

In [26]:
sentence = "Python is awesome"
modified_sentence = sentence.replace("awesome", "cool")
print(modified_sentence)

Python is cool

In [33]:
person = {"name": "Nasiba", "age": 31}
person_name = person["name"]
person_age = person["age"]
print(person_name, person_age)

Nasiba 31

In [27]:
def greet(name):
  print(f"Hello, {name}!")

greet("Nasiba")

Hello, Nasiba!

In [28]:
text = "apple apple banana apple"
apple_count = text.count("apple")
print(apple_count)

3

In [32]:
def add_numbers(a, b):
  return a + b

result = add_numbers(5, 7)
print(result)

12

In [29]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = []
for number in numbers:
  doubled_numbers.append(number * 2)
print(doubled_numbers)

[2, 4, 6, 8, 10]